/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* HEADER */
.header {
    background: #ff5722;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.search-box {
    display: flex;
    width: 40%;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
}

.search-box button {
    background: #222;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

.icons a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

/* BANNER */
.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* DANH MỤC */
.category {
    display: flex;
    justify-content: space-around;
    background: #fff3e0;
    padding: 20px 0;
}

.cat-item {
    font-size: 18px;
    background: white;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
}

.cat-item:hover {
    transform: scale(1.1);
}

/* SẢN PHẨM */
.products {
    padding: 40px;
    background: #fafafa;
}

.products h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.product:hover {
    transform: translateY(-10px);
}

.price {
    color: #ff5722;
    font-weight: bold;
    margin: 5px 0;
    font-size: 18px;
}